<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8686e/control/0/plot" value="false" />
    <add key="/lpc/it8686e/control/1/plot" value="false" />
    <add key="/lpc/it8686e/control/2/plot" value="false" />
    <add key="/lpc/it8686e/control/3/plot" value="false" />
    <add key="/lpc/it8686e/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/5/temperature/0/plot" value="false" />
    <add key="/atigpu/5/temperature/1/plot" value="false" />
    <add key="/atigpu/5/temperature/2/plot" value="false" />
    <add key="/atigpu/5/temperature/3/plot" value="false" />
    <add key="/atigpu/5/temperature/7/plot" value="false" />
    <add key="/atigpu/5/temperature/8/plot" value="false" />
    <add key="/atigpu/5/temperature/9/plot" value="false" />
    <add key="/atigpu/5/power/0/plot" value="false" />
    <add key="/atigpu/5/fan/0/plot" value="false" />
    <add key="/atigpu/5/control/0/plot" value="false" />
    <add key="/atigpu/5/clock/0/plot" value="false" />
    <add key="/atigpu/5/clock/1/plot" value="false" />
    <add key="/atigpu/5/voltage/0/plot" value="false" />
    <add key="/atigpu/5/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="720" />
    <add key="mainForm.Location.Y" value="222" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8686e/voltage/0/plot" value="false" />
    <add key="/lpc/it8686e/voltage/1/plot" value="false" />
    <add key="/lpc/it8686e/voltage/2/plot" value="false" />
    <add key="/lpc/it8686e/voltage/3/plot" value="false" />
    <add key="/lpc/it8686e/voltage/4/plot" value="false" />
    <add key="/lpc/it8686e/voltage/5/plot" value="false" />
    <add key="/lpc/it8686e/voltage/6/plot" value="false" />
    <add key="/lpc/it8686e/voltage/7/plot" value="false" />
    <add key="/lpc/it8686e/voltage/8/plot" value="false" />
    <add key="/lpc/it8686e/temperature/0/plot" value="false" />
    <add key="/lpc/it8686e/temperature/1/plot" value="false" />
    <add key="/lpc/it8686e/temperature/2/plot" value="false" />
    <add key="/lpc/it8686e/temperature/3/plot" value="false" />
    <add key="/lpc/it8686e/temperature/4/plot" value="false" />
    <add key="/lpc/it8686e/temperature/5/plot" value="false" />
    <add key="/lpc/it8686e/fan/0/plot" value="false" />
    <add key="/lpc/it8686e/fan/1/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAOt6nus9w+KuBwPDgf+TTtoxMoDAAUcXAOPFcBAYAAAA" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAOt6nus9w+KuBwPDgf+TTtoxMoDAgmUuAOhrmEkYAAAA" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAOt6nus9w+KuBwPDgf+TTtoxMgBBvlCzFQAfKkmzGAAAAA==" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAOt6nus9w+KuBwPDgf+TTtoxMoCBgz0AVsoTXxgAAAA=" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/atigpu/5/temperature/0/values" value="H4sIAAAAAAAEAIvbk+89w+KuBwPDgf/7vtgwMgABI4OBEwBBW6g9GAAAAA==" />
    <add key="/atigpu/5/temperature/1/values" value="H4sIAAAAAAAEAIvbk+89w+KuBwPDgf/7vtgwMgABI4OBEwBBW6g9GAAAAA==" />
    <add key="/atigpu/5/temperature/2/values" value="H4sIAAAAAAAEAIvbk+89w+KuBwPDgf/7vtgwMgABI4OBEwBBW6g9GAAAAA==" />
    <add key="/atigpu/5/temperature/3/values" value="H4sIAAAAAAAEAIvbk+89w+KuBwPDgf/7vtgwMgABI4OBEwBBW6g9GAAAAA==" />
    <add key="/atigpu/5/temperature/4/values" value="" />
    <add key="/atigpu/5/temperature/5/values" value="" />
    <add key="/atigpu/5/temperature/6/values" value="" />
    <add key="/atigpu/5/temperature/7/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgABI4OBEwB0qvWCGAAAAA==" />
    <add key="/atigpu/5/temperature/8/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgABI4OBEwB0qvWCGAAAAA==" />
    <add key="/atigpu/5/temperature/9/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgABI4OBEwB0qvWCGAAAAA==" />
    <add key="/atigpu/5/power/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgDBn19vHAGhSS76GAAAAA==" />
    <add key="/atigpu/5/power/1/values" value="" />
    <add key="/atigpu/5/power/2/values" value="" />
    <add key="/atigpu/5/power/3/values" value="" />
    <add key="/atigpu/5/power/4/values" value="" />
    <add key="/atigpu/5/fan/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoCAxEsXALrk5ZEYAAAA" />
    <add key="/atigpu/5/clock/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoDBNGcA6OYTtRgAAAA=" />
    <add key="/atigpu/5/clock/1/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoDAgVsuAALlFOYYAAAA" />
    <add key="/atigpu/5/clock/2/values" value="" />
    <add key="/atigpu/5/voltage/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgBBelqaPQBqQrcSGAAAAA==" />
    <add key="/atigpu/5/voltage/1/values" value="" />
    <add key="/atigpu/5/voltage/2/values" value="" />
    <add key="/atigpu/5/load/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoCBtRMA2hS92RgAAAA=" />
    <add key="/atigpu/5/load/1/values" value="" />
    <add key="/atigpu/5/control/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoCBjBMAv6Z4AxgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAFPcFO49w+KuBwPDgf8AmvabvwwAAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAFPcFO49w+KuBwPDgf8AmvabvwwAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAFPcFO49w+KuBwPDgf8AmvabvwwAAAA=" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEACt0cvSeYXHXg4HhwH8AVTqTIAwAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEACt0cvSeYXHXg4HhwH8AVTqTIAwAAAA=" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEACt0cvSeYXHXg4HhwH8AVTqTIAwAAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEACt0cvSeYXHXg4HhwH8AVTqTIAwAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEACt0cvSeYXHXg4HhwH8AVTqTIAwAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEACt0cvSeYXHXg4HhwH8AVTqTIAwAAAA=" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEACt0cvSeYXHXg4HhwH8AVTqTIAwAAAA=" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAKvXDvOeYXHXg4HhwH8AZ9tJJwwAAAA=" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAOsLCvOeYXHXg4HhwH8AahUOfQwAAAA=" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEANt2PMx7hsVdDwaGA/8BhghrxwwAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAHsgGu49w+KuBwPDgf8ALs3crAwAAAA=" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAHtrE+49w+KuBwPDgf8Akn2izwwAAAA=" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEAHtrE+49w+KuBwPDgf8Akn2izwwAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEAHtrE+49w+KuBwPDgf8Akn2izwwAAAA=" />
    <add key="/lpc/it8686e/voltage/0/values" value="H4sIAAAAAAAEANsRd8hzhsVdDwaGA/8BXBS2agwAAAA=" />
    <add key="/lpc/it8686e/voltage/1/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/2/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/3/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/4/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/5/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/6/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/7/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/8/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/0/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/1/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/2/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/3/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/4/values" value="H4sIAAAAAAAEAJO7cshzhsVdDwaGA/8Bv2gzaAwAAAA=" />
    <add key="/lpc/it8686e/temperature/5/values" value="H4sIAAAAAAAEAJO7cshzhsVdDwaGA/8Bv2gzaAwAAAA=" />
    <add key="/lpc/it8686e/fan/0/values" value="H4sIAAAAAAAEAJO7cshzhsVdDwaGA/8Bv2gzaAwAAAA=" />
    <add key="/lpc/it8686e/fan/1/values" value="H4sIAAAAAAAEAAv0POw5w+KuBwPDgf8AU5eF1wwAAAA=" />
    <add key="/lpc/it8686e/fan/2/values" value="" />
    <add key="/lpc/it8686e/fan/3/values" value="" />
    <add key="/lpc/it8686e/fan/4/values" value="" />
    <add key="/lpc/it8686e/control/0/values" value="" />
    <add key="/lpc/it8686e/control/1/values" value="" />
    <add key="/lpc/it8686e/control/2/values" value="H4sIAAAAAAAEAJv69LDnDIu7HgwMB/4DALNcQH8MAAAA" />
    <add key="/lpc/it8686e/control/3/values" value="" />
    <add key="/lpc/it8686e/control/4/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>