<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/lpc/it8686e/control/0/plot" value="false" />
    <add key="/lpc/it8686e/control/1/plot" value="false" />
    <add key="/lpc/it8686e/control/2/plot" value="false" />
    <add key="/lpc/it8686e/control/3/plot" value="false" />
    <add key="/lpc/it8686e/control/4/plot" value="false" />
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/atigpu/5/temperature/0/plot" value="false" />
    <add key="/atigpu/5/temperature/1/plot" value="false" />
    <add key="/atigpu/5/temperature/2/plot" value="false" />
    <add key="/atigpu/5/temperature/3/plot" value="false" />
    <add key="/atigpu/5/temperature/7/plot" value="false" />
    <add key="/atigpu/5/temperature/8/plot" value="false" />
    <add key="/atigpu/5/temperature/9/plot" value="false" />
    <add key="/atigpu/5/power/0/plot" value="false" />
    <add key="/atigpu/5/fan/0/plot" value="false" />
    <add key="/atigpu/5/control/0/plot" value="false" />
    <add key="/atigpu/5/clock/0/plot" value="false" />
    <add key="/atigpu/5/clock/1/plot" value="false" />
    <add key="/atigpu/5/voltage/0/plot" value="false" />
    <add key="/atigpu/5/load/0/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/temperature/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="720" />
    <add key="mainForm.Location.Y" value="222" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/lpc/it8686e/voltage/0/plot" value="false" />
    <add key="/lpc/it8686e/voltage/1/plot" value="false" />
    <add key="/lpc/it8686e/voltage/2/plot" value="false" />
    <add key="/lpc/it8686e/voltage/3/plot" value="false" />
    <add key="/lpc/it8686e/voltage/4/plot" value="false" />
    <add key="/lpc/it8686e/voltage/5/plot" value="false" />
    <add key="/lpc/it8686e/voltage/6/plot" value="false" />
    <add key="/lpc/it8686e/voltage/7/plot" value="false" />
    <add key="/lpc/it8686e/voltage/8/plot" value="false" />
    <add key="/lpc/it8686e/temperature/0/plot" value="false" />
    <add key="/lpc/it8686e/temperature/1/plot" value="false" />
    <add key="/lpc/it8686e/temperature/2/plot" value="false" />
    <add key="/lpc/it8686e/temperature/3/plot" value="false" />
    <add key="/lpc/it8686e/temperature/4/plot" value="false" />
    <add key="/lpc/it8686e/temperature/5/plot" value="false" />
    <add key="/lpc/it8686e/fan/0/plot" value="false" />
    <add key="/lpc/it8686e/fan/1/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/lpc/nct6798d/voltage/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/values" value="" />
    <add key="/hdd/1/load/0/values" value="" />
    <add key="/hdd/2/temperature/0/values" value="" />
    <add key="/hdd/2/load/0/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/lpc/nct6798d/fan/1/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/6/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/5/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/4/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/3/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/2/plot" value="false" />
    <add key="/lpc/nct6798d/temperature/1/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/14/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/13/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/12/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/11/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/10/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/9/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/8/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/7/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/6/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/5/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/4/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/3/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/2/plot" value="false" />
    <add key="/lpc/nct6798d/voltage/1/plot" value="false" />
    <add key="/atigpu/5/temperature/0/values" value="H4sIAAAAAAAEAIvbk+89w+KuBwPDgf/7vtgwMgABI4OBEwBBW6g9GAAAAA==" />
    <add key="/atigpu/5/temperature/1/values" value="H4sIAAAAAAAEAIvbk+89w+KuBwPDgf/7vtgwMgABI4OBEwBBW6g9GAAAAA==" />
    <add key="/atigpu/5/temperature/2/values" value="H4sIAAAAAAAEAIvbk+89w+KuBwPDgf/7vtgwMgABI4OBEwBBW6g9GAAAAA==" />
    <add key="/atigpu/5/temperature/3/values" value="H4sIAAAAAAAEAIvbk+89w+KuBwPDgf/7vtgwMgABI4OBEwBBW6g9GAAAAA==" />
    <add key="/atigpu/5/temperature/4/values" value="" />
    <add key="/atigpu/5/temperature/5/values" value="" />
    <add key="/atigpu/5/temperature/6/values" value="" />
    <add key="/atigpu/5/temperature/7/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgABI4OBEwB0qvWCGAAAAA==" />
    <add key="/atigpu/5/temperature/8/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgABI4OBEwB0qvWCGAAAAA==" />
    <add key="/atigpu/5/temperature/9/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgABI4OBEwB0qvWCGAAAAA==" />
    <add key="/atigpu/5/power/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgDBn19vHAGhSS76GAAAAA==" />
    <add key="/atigpu/5/power/1/values" value="" />
    <add key="/atigpu/5/power/2/values" value="" />
    <add key="/atigpu/5/power/3/values" value="" />
    <add key="/atigpu/5/power/4/values" value="" />
    <add key="/atigpu/5/fan/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoCAxEsXALrk5ZEYAAAA" />
    <add key="/atigpu/5/clock/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoDBNGcA6OYTtRgAAAA=" />
    <add key="/atigpu/5/clock/1/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoDAgVsuAALlFOYYAAAA" />
    <add key="/atigpu/5/clock/2/values" value="" />
    <add key="/atigpu/5/voltage/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMgBBelqaPQBqQrcSGAAAAA==" />
    <add key="/atigpu/5/voltage/1/values" value="" />
    <add key="/atigpu/5/voltage/2/values" value="" />
    <add key="/atigpu/5/load/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoCBtRMA2hS92RgAAAA=" />
    <add key="/atigpu/5/load/1/values" value="" />
    <add key="/atigpu/5/control/0/values" value="H4sIAAAAAAAEAKt6nO89w+KuBwPDgf+LztowMoCBjBMAv6Z4AxgAAAA=" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEAGuNFT92L/muBwPDgf9Tck4wMgBB2vMWJwAZoZy7GAAAAA==" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEAGuNFT92L/muBwPDgf9Tck4wMgDByp/BTgDrgnNNGAAAAA==" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEAGuNFT92L/muBwPDgf9Tck4wMgDBjk27HAEvyazPGAAAAA==" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEAGuNFT92L/muBwPDgf9Tck4wMgDBujN6TgCSmpVoGAAAAA==" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEAGuNFT92L/muBwPDgf9Tck4wMgDBixWTnAA7H0TRGAAAAA==" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEAGuNFT92L/muBwPDgf9Tck4wMgBBU6GREwAKuoCpGAAAAA==" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEAGuNFT92L/muBwPDgf9Tck4wMgDBj09eTgDVrJepGAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALN7oXDsXvJdDwaGA/9vP9zHyAAEm2I5HAGgIwNAGAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALN7oXDsXvJdDwaGA/9vP9zHyAAELudvOAAAzPOm6xgAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALN7oXDsXvJdDwaGA/9vP9zHyAAEZuqGTgBKM9PsGAAAAA==" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAEtm0Dt2L/muBwPDgf+JhyQZGcDAw7FVKIkJwnZwBAD7kZKtJAAAAA==" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAEtm0Dt2L/muBwPDgf+JhyQZGYAgX6jZulUoiQnGBgAg4GTXJAAAAA==" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAEtm0Dt2L/muBwPDgf+JhyQZGcDgoUurUBITjA0AtTOKlyQAAAA=" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAEtm0Dt2L/muBwPDgf+JhyQZGcDghHOrUBITjA0APbjpUyQAAAA=" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/lpc/it8686e/voltage/0/values" value="H4sIAAAAAAAEANsRd8hzhsVdDwaGA/8BXBS2agwAAAA=" />
    <add key="/lpc/it8686e/voltage/1/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/2/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/3/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/4/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/5/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/6/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/7/values" value="H4sIAAAAAAAEAPvYeshzhsVdDwaGA/8BwvYC6wwAAAA=" />
    <add key="/lpc/it8686e/voltage/8/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/0/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/1/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/2/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/3/values" value="H4sIAAAAAAAEAONce8hzhsVdDwaGA/8BugDclQwAAAA=" />
    <add key="/lpc/it8686e/temperature/4/values" value="H4sIAAAAAAAEAJO7cshzhsVdDwaGA/8Bv2gzaAwAAAA=" />
    <add key="/lpc/it8686e/temperature/5/values" value="H4sIAAAAAAAEAJO7cshzhsVdDwaGA/8Bv2gzaAwAAAA=" />
    <add key="/lpc/it8686e/fan/0/values" value="H4sIAAAAAAAEAJO7cshzhsVdDwaGA/8Bv2gzaAwAAAA=" />
    <add key="/lpc/it8686e/fan/1/values" value="H4sIAAAAAAAEAAv0POw5w+KuBwPDgf8AU5eF1wwAAAA=" />
    <add key="/lpc/it8686e/fan/2/values" value="" />
    <add key="/lpc/it8686e/fan/3/values" value="" />
    <add key="/lpc/it8686e/fan/4/values" value="" />
    <add key="/lpc/it8686e/control/0/values" value="" />
    <add key="/lpc/it8686e/control/1/values" value="" />
    <add key="/lpc/it8686e/control/2/values" value="H4sIAAAAAAAEAJv69LDnDIu7HgwMB/4DALNcQH8MAAAA" />
    <add key="/lpc/it8686e/control/3/values" value="" />
    <add key="/lpc/it8686e/control/4/values" value="" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
    <add key="/lpc/nct6798d/control/0/plot" value="false" />
    <add key="/lpc/nct6798d/control/1/plot" value="false" />
    <add key="/lpc/nct6798d/control/2/plot" value="false" />
    <add key="/lpc/nct6798d/control/3/plot" value="false" />
    <add key="/lpc/nct6798d/control/4/plot" value="false" />
    <add key="/lpc/nct6798d/control/5/plot" value="false" />
    <add key="/lpc/nct6798d/control/6/plot" value="false" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPt1Tf7YveS7HgwMB/7Lf97PyAACF5qdAMkiZAQYAAAA" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEAGNiUjh2L/muBwPDgf/iJ/YzMgDBLkFuJwDOpozSGAAAAA==" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEAGNiUjh2L/muBwPDgf/iJ/YzMgABh9s+RwCtE78MGAAAAA==" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgCBilicAwCBeXkEGAAAAA==" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgDBHMFuVwCkzNVVGAAAAA==" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgDBAf4VDgAqcXUMGAAAAA==" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgDBHMFuVwCkzNVVGAAAAA==" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgDBuc/lDgB9VdRWGAAAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgDBHMFuVwCkzNVVGAAAAA==" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgBB6WxBBwBfysTpGAAAAA==" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgDBs6AqVwA5bywuGAAAAA==" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgBBi3e7AwAxo4x9GAAAAA==" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEAPO2VTh2L/muBwPDgf/nevYzMgDBHMFuVwCkzNVVGAAAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEADuYonDsXvJdDwaGA/8jUvczMgCB5qupDgDmrKRkGAAAAA==" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEADuYonDsXvJdDwaGA/8jUvczMgDBHMFuVwAvRbJTGAAAAA==" />
    <add key="/lpc/nct6798d/voltage/0/values" value="H4sIAAAAAAAEAJM8df/4veS7HrxM2vYAey3MhQwAAAA=" />
    <add key="/lpc/nct6798d/voltage/1/values" value="H4sIAAAAAAAEAJM8df/4veS7Hl48TfYAVWdU9gwAAAA=" />
    <add key="/lpc/nct6798d/voltage/2/values" value="H4sIAAAAAAAEAJM8df/4veS7Hh1ikQ4ABxfXmQwAAAA=" />
    <add key="/lpc/nct6798d/voltage/3/values" value="H4sIAAAAAAAEAJM8df/4veS7HpGWIQ4Aa7aAgQwAAAA=" />
    <add key="/lpc/nct6798d/voltage/4/values" value="H4sIAAAAAAAEAJM8df/4veS7HqpsjfYAFVarswwAAAA=" />
    <add key="/lpc/nct6798d/voltage/5/values" value="H4sIAAAAAAAEAJM8df/4veS7HnZc4fYAdh3L6gwAAAA=" />
    <add key="/lpc/nct6798d/voltage/6/values" value="H4sIAAAAAAAEAJM8df/4veS7HvlCzXYA9LccGQwAAAA=" />
    <add key="/lpc/nct6798d/voltage/7/values" value="H4sIAAAAAAAEAJM8df/4veS7Hh1ikQ4ABxfXmQwAAAA=" />
    <add key="/lpc/nct6798d/voltage/8/values" value="H4sIAAAAAAAEAJM8df/4veS7HvtKgh0Avkcr/QwAAAA=" />
    <add key="/lpc/nct6798d/voltage/9/values" value="H4sIAAAAAAAEAJM8df/4veS7HtcqMu0B4tOw7wwAAAA=" />
    <add key="/lpc/nct6798d/voltage/10/values" value="H4sIAAAAAAAEAJM8df/4veS7Hl/+XrEDAF+NGSQMAAAA" />
    <add key="/lpc/nct6798d/voltage/11/values" value="H4sIAAAAAAAEAJM8df/4veS7Hl/+XrEDAF+NGSQMAAAA" />
    <add key="/lpc/nct6798d/voltage/12/values" value="H4sIAAAAAAAEAJM8df/4veS7HvlCzfYAYocbbgwAAAA=" />
    <add key="/lpc/nct6798d/voltage/13/values" value="H4sIAAAAAAAEAJM8df/4veS7HsLNB+wA0WZwHwwAAAA=" />
    <add key="/lpc/nct6798d/voltage/14/values" value="H4sIAAAAAAAEAJM8df/4veS7HtOcu+0AViDVRwwAAAA=" />
    <add key="/lpc/nct6798d/temperature/0/values" value="" />
    <add key="/lpc/nct6798d/temperature/1/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMOk4AjrrXFQwAAAA=" />
    <add key="/lpc/nct6798d/temperature/2/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMPE4ALJ5TgAwAAAA=" />
    <add key="/lpc/nct6798d/temperature/3/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMq50AArQVYQwAAAA=" />
    <add key="/lpc/nct6798d/temperature/4/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMPE4ALJ5TgAwAAAA=" />
    <add key="/lpc/nct6798d/temperature/5/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMPE4ALJ5TgAwAAAA=" />
    <add key="/lpc/nct6798d/temperature/6/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwM25wAHth5ngwAAAA=" />
    <add key="/lpc/nct6798d/fan/0/values" value="H4sIAAAAAAAEAJM8df/4veS7HgxAAACc8TS0DAAAAA==" />
    <add key="/lpc/nct6798d/fan/1/values" value="H4sIAAAAAAAEAJM8df/4veS7Ho0z5VwBfSnkwQwAAAA=" />
    <add key="/lpc/nct6798d/fan/2/values" value="H4sIAAAAAAAEAJM8df/4veS7HgxAAACc8TS0DAAAAA==" />
    <add key="/lpc/nct6798d/fan/3/values" value="H4sIAAAAAAAEAJM8df/4veS7HgxAAACc8TS0DAAAAA==" />
    <add key="/lpc/nct6798d/fan/4/values" value="H4sIAAAAAAAEAJM8df/4veS7HgxAAACc8TS0DAAAAA==" />
    <add key="/lpc/nct6798d/fan/5/values" value="H4sIAAAAAAAEAJM8df/4veS7HgxAAACc8TS0DAAAAA==" />
    <add key="/lpc/nct6798d/fan/6/values" value="H4sIAAAAAAAEAJM8df/4veS7HgxAAACc8TS0DAAAAA==" />
    <add key="/lpc/nct6798d/control/0/values" value="H4sIAAAAAAAEAJM8df/4veS7HjY2K5wALLy03QwAAAA=" />
    <add key="/lpc/nct6798d/control/1/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMJ5wAZozFLwwAAAA=" />
    <add key="/lpc/nct6798d/control/2/values" value="H4sIAAAAAAAEAJM8df/4veS7HjY2K5wALLy03QwAAAA=" />
    <add key="/lpc/nct6798d/control/3/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMBU4A1qjZAwwAAAA=" />
    <add key="/lpc/nct6798d/control/4/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMBU4A1qjZAwwAAAA=" />
    <add key="/lpc/nct6798d/control/5/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMJ5wAZozFLwwAAAA=" />
    <add key="/lpc/nct6798d/control/6/values" value="H4sIAAAAAAAEAJM8df/4veS7HgwMJ5wAZozFLwwAAAA=" />
  </appSettings>
</configuration>